<p>
  <strong>Meetup group:</strong>
  <%= @membership.meetup_group %>
</p>

<p>
  <strong>User:</strong>
  <%= @membership.user %>
</p>

<%= link_to 'Back', @membership.meetup_group, class: 'btn btn-primary' %>
