<%= page_title 'Activities' %>

<h2>Popular Upcoming Activities</h2>
<%= render 'list', activities: @activities %>

<h2>Archived Activities</h2>
<%= render 'list', activities: @archived_activities %>
