<%= page_title @activity.name %>

<%= render 'activities/activity', activity: @activity %>

<h2>Members who voted for this activity</h2>

<% content_tag_for(:div, @activity.votes) do |vote| %>
  <%= link_to vote.user, vote.user %>
<% end %>
